body{
	background: #FFFFFF;
}

a {
	color: #006699;
}

a:hover, .link:hover {
	color: #214264;
	text-decoration: underline;
}

#wrap {
	width: 960px;
	margin: 50px auto;
	padding: 0;
}

#logo {
	background: transparent url(/media/images/logo.png) no-repeat center center;
	width: 350px;
	height: 80px;
	margin: 0 auto;
	display: block;
	text-indent: -9999px;
}

#box {
	background: #E5E5E1 url(/media/images/glass.png) repeat-x left top;
	border: 1px solid #CCCCC3;
	padding: 0 5px 5px;
	margin: 0 auto;
	width: 450px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#box h4 {
	color: #646459;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 3px 3px 3px 10px;
	margin: 0;
}

#box #box-body {
	background: #FFFFFF none repeat scroll 0 0;
	border-color: #DBDBD7 #E0E0DC #E0E0DC #DBDBD7;
	border-style: solid;
	border-width: 1px;
	color: #777777;
	font-size :13px;
	padding: 3px 3px 3px 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#box-body p {
	margin: 1em 0;
}

#box-body p.remeberme {
	float: left;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#box-body p.submit {
	float: right;
	font-weight: normal;
	margin: 0 8px 10px 0;
	padding: 0;
}

#box-body input#submit {
	background: #FFF3E5;
	border: 1px solid #FFEAD1;;
	color: #DD7700;
	padding: 3px 5px;
}

#box-body input#submit:hover {
	background: #DD7700;
	color: #FFFFFF;
	cursor: pointer;
}

#box #username,
#box #password,
#box #email {
	width: 420px;
	font-size: 16px;
	padding: 3px;
}

#box #lostpassword {
	padding: 3px;
	padding-bottom: 1px;
}

ul.error {
	margin: 10px 5px 0 0;
}

ul.error li {
	margin-left: 10px;
}


