body{
	background: #FEFEFE url(/media/images/bg_top.png) repeat-x 0 -8px;
	margin: 0 ;
	padding: 0;
}

a {
	color: #006699;
	outline: none;
	text-decoration: none;
}

a:hover, .link:hover {
	color: #214264;
	text-decoration: underline;
}

ul, ol {
	padding-left: 15px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h4 {
	margin-bottom: 5px;
}

#wrap {
	margin: 0 auto;
	padding: 0;
	width: 950px;
}

/****  HEADER  ****/
#header {
	margin-top: 3px;
	display: block;
	margin-bottom: 15px;
}

#header .block {
	font-size: 13px;
	white-space: nowrap;
	float: right;
	text-align: right;
	margin-bottom: 5px;
}

#header .auth a {
	padding: 0 3px;
}

#header .auth a.user {
	color: #000000;
	font-weight: bold;
}

#header .search {
	margin-top: 15px;
	border: 1px solid #CCCCCC;
}

#header .search input {
	color: #999999;
	border: none;
	padding: 4px 8px 3px 8px;
	margin: 0;
}

#header .search input[type=submit] {
	font-weight: bolder;
	color: #666666;
	line-height: 17px;
}

#header .logo {
	margin: 6px;
	font-size: 1.6em;
}

#container {
	margin: 0 auto;
}

/****  CONTENT  ****/
#content {
	/*background: #FAFAFA;*/
	padding: 10px 0;
}

#container .right_column {
	float: left;
	width: 640px;
}

#content h2 {
	font-weight: bold;
	font-size: 1.6em;
}

/****  HEAD  ****/
#content h3 {
	padding: 8px;
	padding-top: 10px;
	font-size: 1.2em;
	color: #333333;
}

#content h3 ul {
	list-style: none;
	margin: 0;
}

#content h3 ul li {
	display: inline;
	padding-left: 5px;
}

#content h3.touched,
#content h3.hits,
#content h3.collections {
	padding-left: 45px;
	margin-bottom: 10px;
}

#content h3.touched {
	background: #DFEFCE url(/media/images/icons/24x24/equalizer.png) no-repeat 15px center;
	border-top: 1px solid #BCE98D;
	border-bottom: 1px solid #CFEDAF;
}

#content h3.touched a {
	color: #6E9F1B;
}

#content h3.hits {
	background: #FDF1CE url(/media/images/icons/24x24/promotion.png) no-repeat 15px center;
	border-top: 1px solid #F4E1A8;
	border-bottom: 1px solid #F6E9C4;
}

#content h3.hits a {
	color: #B86606;
}

#content h3.collections {
	background: #FFE3D4 url(/media/images/icons/24x24/globe.png) no-repeat 15px center;
	border-top: 1px solid #F4B695;
	border-bottom: 1px solid #FAC7AC;
}

#content h3.collections a {
	color: #EB7132;
}

/****  HOME TOPICS  ****/
#content ul.list {
	margin:  0 10px 15px;
	padding: 0;
}

#content ul.list li {
	padding: 6px 0;
	border-bottom: 1px dashed #C1C1C1;
}

#content ul.list img.avatar {
	padding: 1px;
	border: 2px solid #ADADAD;
	color: #FFFFFF;
	float: left;
	overflow: hidden;
	width: 30px;
	height: 30px;
}

#content ul.list li .topic_details {
	margin-left: 50px;
	margin-right: 120px;
}

#content ul.list li .topic_details a.subject {
	font-size: 1em;
	font-weight: bold;
	margin-right: 3px;
	color: #195190;
}

#content ul.list li .topic_details a.subject:hover {
	color: #000000;
}

#content ul.list li .topic_details .meta {
	color: #777777;
	font-size: 95%;
	padding-top: 4px;
}

#content ul.list li .topic_details a.author {
	color: #666666;
	font-weight: bold;
}

#content ul.list li .topic_details .divider {
	color: #666666;
	padding: 0 2px;
}

#content ul.list li .collection {
	background:#E2E2E2 none repeat scroll 0 0;
	border:2px solid #E2E2E2;
	float:right;
	position:relative;
	z-index:10;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#content ul.list li .collection_inset {
	background: #F8F8F8 url(/media/images/white_pixel.png) repeat-x;
	border: 1px solid #C2C2C2;
	padding: 6px;
	-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#content ul.list li .collection_action {
	display: inline;
	padding: 5px 0;
	position: relative;
}

#content ul.list li .collection_inset .groups {
	border-right: 1px solid #CCCCCC;
	margin-right: 2px;
	padding: 2px 5px 2px 0;
	text-transform: uppercase;
}

#content ul.list li .collection_inset .groups:hover {
	color: #333333;
}

#content ul.list li .collection_tips {
	background: url(/media/images/collection_tips.png) no-repeat;
	position: absolute;
	width: 150px;
	height: 50px;
	padding: 5px;
	font-size: 0.9em;
	text-align: center;
	bottom: 30px;
	left: -65px;
}

#content ul.list li .collection_tips strong {
	display: block;
	line-height: 1.8;
}

#content ul.list li a.collection_link {
	color:inherit !important;
	padding: 5px 0;
	position: relative;
	z-index: 11;
}

#content ul.list li a.collection_link .empty_star {
	background: transparent url(/media/images/topic_star.png) no-repeat 0 0;
	height: 13px;
	margin-right: 2px;
	vertical-align: -2px;
	width: 13px;
}

#content ul.list li a.collection_link .star {
	background: transparent url(/media/images/topic_star.png) no-repeat -13px 0;
	height: 13px;
	margin-right: 2px;
	vertical-align: -2px;
	width: 13px;
}

#content ul.list li a.collection_link:hover {
	text-decoration: none;
}

#content ul.list li a.collection_link:hover img {
	background-position: -13px 0;
}

#content h2.group-name {
	background: #FDF1CE;
	border-top: 1px solid #F4E1A8;
	border-bottom: 1px solid #F6E9C4;
	padding-left: 5px;
}

/****  TOPIC  ****/
.topic {
	width: 640px;
}

.topic h2 {
	color: #404040;
	margin-bottom: 10px;
}

.topic .details {
	margin-bottom: 10px;
}

.topic .details .avatar img  {
	vertical-align: middle;
}

.topic .details span {
	padding: 0 5px;
}

.topic .details .author a{
	color: #3354AA;
	font-size: 1.4em;
	font-weight: bold;
}

.topic .details .date {
	font-size: 0.9em;
	color: #AAAAAA;
}

.topic p {
	margin-bottom: 5px;
}

.topic-content {
	margin-left: 4px;
	margin-bottom: 60px;
}

.topic-content,
.post-content {
    font-size: 1.1em;
    line-height: 20px;
}

.topic-content img.tpi,
.post-content img.tpi {
	float: none;
	margin: 5px 5px 0 0;
	max-width: 600px;
	max-height: 600px;
}

.topic-content p,
.post-content p{
	margin-bottom: 15px;
}

.topic-content p img
.post-content p img {
	float: none;
	margin: 0;
	margin-bottom: 5px;
}

.topic-content blockquote,
.post-content blockquote {
	background: transparent url(/media/images/quotes.gif) no-repeat scroll left top;
	color: #666666;
	margin: 5px;
    margin-left: 15px;
	padding: 3px 3px 15px 40px;
	font-style: normal;
    font-size: 1em;
    line-height: 20px;
}

.topic-content pre.code,
.post-content pre.code {
	color: #006600;
	border-left: 1px solid #CCCCCC;
	line-height: 15px;
	font-size: 1em;
	white-space: pre;
	margin: 5px 0 15px 11px;
	padding: 4px 0px 4px 10px;
	font-family: "Courier New", Hei, fixed;
	width: 600px;
	overflow: auto;
}

.table {
	width: 600px;
}

.table td {
	vertical-align: top;
}

.table td.column {
	text-align: right;
	padding: 4px 10px 4px 0px;
	min-width: 50px;
}

.table td.column label {
	color: #666666;
	font-size: 1.2em;
	font-weight: normal;
}

.table td img {
	margin-top: 12px;
}

.table input[type=text] {
	width: 606px;
	outline: none;
}

.table select {
	width: 200px;
	margin: 0;
}

.table textarea.content {
	border:1px solid #CCCCCC;
	font-family: arial,san serif;
	font-size: 1.2em;
	overflow: auto;
	width: 600px;
	height: 300px;
	padding: 3px;
}

.table input[type=text]:focus,
.table textarea.content:focus {
	border: 1px solid #B2D8F9;
	-moz-box-shadow: 0px 0px 5px #B2D8F9;
	-webkit-box-shadow: 0px 0px 5px #B2D8F9;
	outline: none;
}

.table .error {
	color: #EA340A;
	font-size: 1.1em;
	line-height: 20px;
	background: none;
	border: none;
	padding: 0;
}

/********** POST ****************/
.post {
/*	border-bottom: 1px solid #CCCCCC;*/
	margin-bottom: 20px;
}

.post-content {
	margin: 10px 5px;
}

.post .meta {
	height: 38px;
}

.post div.owner {
	background: #DFF1FF;
	color: #3354AA;
}

.post div.owner ul.details .avatar {
	border: 1px solid #DFF1FF;
}

.post div.owner ul.details .avatar-hover {
	border: 1px solid #4C9ACF;
}

.post div.poster {
	background: #EEEEEE;
	color: #212121;
}

.post div.poster ul.details .avatar {
	border: 1px solid #EEEEEE;
}

.post div.poster ul.details .avatar-hover {
	border: 1px solid #999999;
}

.post .meta ul.actions {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 38px;
}

.post .meta ul.actions a {
	color: #7C7C7C;
}

.post .meta ul.details {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 5px;
	line-height: 34px;
}

.post .meta ul.actions li,
.post .meta ul.details li {
	float: left;
	margin-right: 10px;
}

.post ul.details .avatar {
	vertical-align: middle;
	padding: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: 5px;
}

.post ul.details .author a {
	/*color: #000000;*/
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
}

.post ul.details .date{
	padding-top: 2px;
	font-size: 0.9em;
}

.post ul.details .date a {
	color: #555555;
}

.thread-comment {
	background: #EEEEEE;
	margin: 0 0 10px 34px;
	padding: 3px;
}

/********** COMMENT ****************/
#content .comments {
	background: #F4F4F4;
}

#content .comments h3 {
	margin: 0;
	font-weight: bold;
}

#content .comments .comments-body {
	background: #FFFFFF;
	margin: 0 8px;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #C4C4C4;
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #CFCFCF;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-top: 10px;
}

#content .comments .comments-body .label {
	font-size: 14px;
	padding-left: 20px;
	width: 80px;
}

#content .comments .comments-body input[type=text],
#content .comments .comments-body input[type=password] {
	padding: 8px;
	width: 470px;
	color: #666666;
}

#content .comments .comments-body input[type=checkbox] {
	margin-left: 15px;
}

#content .comments .comments-actions {
	padding: 8px;
}

#content .comments .comments-actions input[type=submit] {
	height: 25px;
	width: 90px;
	font-size: 110%;
	font-weight: bold;
	padding-top: 2px;
}

#content .comments textarea {
	margin: 0 10px;
	font-family: arial, 'san serif';
	font-size: 1.2em;
	overflow: auto;
	width: 590px;
	height: 110px;
}

#content .comments .comments-body .comments-tools {
	margin: 3px 10px;
}

.options {
	padding: 5px 0 10px 0;
	color: #A2A2A2;
}

.options a {
	color: #585858;
}

.emoticon {
	vertical-align: top;
	margin: 0;
	padding: 0 2px;
	float: none;
	width: 16px;
	height: 16px;
}

/****  SIDEBAR  ****/
#sidebar {
	float: right;
	width: 290px;
	margin: 10px 0;
}

#sidebar a:hover {
	text-decoration: none;
}

.widget {
	background: #F9F9F9;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
	color: #666666;
	margin-bottom: 15px;
}

.widget a:hover {
	background: #2E558B;
	color: #FFFFFF;
}

.widget h3 {
	background: #E8E8E8;
	color: #555555;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 30px;
	padding-left: 5px;
	margin-bottom: 0;
}

.widget .content {
	margin: 5px 5px 10px 10px;
}

.widget .content p {
	margin-bottom: 6px;
}

.widget .center {text-align: center}
.widget .block {padding: 5px 5px 3px 5px}
.widget .hightlight {
	font-weight: bold;
	font-size: 1.2em;
	color: #EE8B0E;
	padding: 10px 0;
}

.widget .collection {
	background: url(/media/images/icons/16x16/favorite.png) no-repeat 2px 5px;
	padding-left: 18px;
}

.widget .group,
.widget .new_topic {
	font-size: 1.2em;
}

.widget .group a,
.widget .new_topic a {
	padding-left: 20px;
}

.widget .group a:hover,
.widget .new_topic a:hover {
	color: #15212E;
}

.widget .group a {background: url(/media/images/icons/16x16/next.png) no-repeat 0 0;}
.widget .new_topic a {
	background: url(/media/images/icons/16x16/add.png) no-repeat 0 0;
	/*padding-left: 5px;*/
	margin-left: 5px;
}
.widget .stats {
	padding: 0 3px;
}

.widget .stats table {
	margin-bottom: 3px;
}

.widget .stats table tr th {
	background: none;
	border-bottom: 2px solid #DDDDDD;
	color: #777777;
	padding: 3px 12px;
}

.widget .stats table tr td {
	padding: 3px 12px;
	color: #999999;
}

#list_topics ul li {
	padding: 4px 0;
}

.widget_blue {
	background: #EEF4FF;
	border-top: 1px solid #83A2DE;
	border-bottom: 1px solid #83A2DE;
}

.widget_blue h3 {
	background: #83A2DE;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 30px;
	padding-left: 5px;
	color: #FFFFFF;
}

.widget_green {
	background: #F7F9F3;
	border-top: 1px solid #DFE5F3;
	border-bottom: 1px solid #DFE5F3;
}

.widget_green h3 {
	background: #EAF4D7;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}

#login_form {
	background: #FFFCF5;
	border-top: 1px solid #D5BCAA;
	border-bottom: 1px solid #D5BCAA;
}

#login_form h3 {
	background: #FFF2DB;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 30px;
	padding-left: 5px;
	color: #333333;
}

#login_form h3 small {
	font-size: 0.9em;
	font-weight: normal;
}

#login_form dl{
	font-size: 110%;
	text-align:left;
	line-height: 28px;
	margin: 0 0 10px 10px;
}

#login_form dl dd{
	overflow: hidden;
	padding: 0;
	margin: 4px 0;
}

#login_form dl label{
	float: left;
	font-weight: normal;
	width: 75px;
}

#login_form dl input{
	font-family: Arial, sans-serif, Verdana;
	color: #222222;
	float: left;
	margin-top: 4px;
	margin-left: 5px;
	width: 185px;
}

#login_form #lostpassword{
	float: right;
	padding-top: 3px;
	padding-right: 10px;
}

#login_form #lostpassword a{
	color: #7F2D20;
}

#login_form #lostpassword a:hover{
	background: #7F2D20;
	color: #FFFFFF;
}

#login_form #submit{
	margin-left: 80px;
	width: 60px;
	background: url(/media/images/icons/16x16/user.png) no-repeat 5px 4px;
	padding-left: 25px;
	font-size: 100%;
}

ul.novice {
	list-style-type: circle;
}

ul.novice li a:hover {
	background: none;
	color: #555555;
}

ul.novice li a img {
	vertical-align: middle;
	padding: 1px;
	margin-right: 5px;
	border: 1px solid #E8E8E8;
}

ul.novice li small {
	padding-left: 5px;
	color: #FA8300;
}

/****  USER  ****/
#profile {
	margin-bottom: 10px;
}

#profile .profile-header {
	padding-bottom: 10px;
}

#profile .profile-header .avatar {
	vertical-align: middle;
	padding: 1px;
	margin-right: 10px;
}

#profile .profile-header .nickname {
	font-size: 1.3em;
	font-weight: bold;
}

#profile .profile-header #actions a{
	margin-left: 3px;
}

#profile .profile-content {
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}

#profile .vcard {
	padding: 10px 0 10px 10px;
	float: left;
	margin: 0;
}

#profile .vcard dl {
	margin: 2px 0;
}

#profile .vcard dl dt {
	color: #999999;
	float: left;
	width: 115px;
}

#profile .statistics {
	margin: 10px 0 20px 0;
}

#profile .statistics .sides {
	padding: 0 12px;
}

#profile .statistics .last {
	border-right: none;
}

#profile .statistics .sides .header {
	color: #AAAAAA;
	font-size: 1em;
	margin-left: 2px;
}

#profile .statistics .sides .count{
	color: #444444;
	font-size: 2.5em;
	font-weight: bold;
	cursor: pointer;
	line-height: 30px;
}
#profile .statistics .sides a:hover {
	text-decoration: none;
}

#profile .statistics .sides a:hover .count,
#profile .statistics .sides a:hover .header
{
	color: #4183C4;
}

#profile .user-record {
	padding-left: 10px;
	clear: both;
	color: #7E7E7E;
	margin-bottom: 8px;
}

/****  Admin  ****/
.admin-panel {
	background: #406AA5;
	padding: 8px 10px;
	margin: 0 0 15px;
	position: relative;
}

.admin-panel h4 {
	color: #FFFFFF;
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	line-height: 20px;
	opacity: 0.5;
	text-transform: uppercase;
}

.admin-panel ul.actions {
	display: inline;
	margin: 0;
	padding-left: 0;
}

.admin-panel ul.actions li {
	display: inline;
	list-style-type: none;
	margin: 0 10px 0 0;
	padding: 0;
}

.admin-panel ul.actions li a {
	color: #FFFFFF;
	text-transform: uppercase;
}

/**** SETTINGS ****/
#content h2content.settings-title {
	margin-bottom: 0;
	font-size: 1.4em;
	padding-left: 3px;
}

ul.settings-menu {
	margin: 0;
	padding: 0;
	/*height: 40px;*/
}

ul.settings-menu li {
	background: #EEEEEE;
	display: inline;
	list-style-type: none;
	padding: 10px;
}

ul.settings-menu li a {
	color: #006699;
}

ul.settings-menu li.current{
	color: #333333;
}

.settings-content {
	border: 3px solid #EEEEEE;
	padding: 10px 20px;
}

.settings-content h3 {
	background: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

.settings-content .avatar {
	margin-bottom: 15px;
}

.settings-content .avatar img {
	vertical-align: middle;
	border: 1px solid #DDDDDD;
	float: left;
	margin-right: 10px;
	padding: 2px;
}

.settings-content .avatar p {
	color: #999999;
	font-size: 12px;
	line-height: 1;
	margin: 0;
	padding-top: 5px;
}

.settings-content .avatar p strong {
	color: #333333;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.settings-content dl dd {
	margin: 0;
}

.settings-content label {
	font-size: 1.2em;
}

.settings-content label.tips {
	color: #DA3838;
}

.settings-content input.field {
	font-family: helvetica,arial,freesans,sans-serif;
	border: 1px solid #888888;
	padding: 8px;
	font-size: 120%;
	width: 350px;
}

input.readonly {
	background: #EEEEEE;
	color: #999999;
}

.settings-content .submit {
	border-top: 1px solid #DDDDDD;
	margin: 10px 0;
	padding-top: 20px;
}

.settings-content .error {
	color: #EA340A;
	font-size: 1.1em;
	line-height: 24px;
	background: none;
	border: none;
	padding: 0;
}

/****  FOOTER  ****/
#footer {
	color: #999988;
	text-align: right;
	border-top: 1px dashed #E7E7DB;
	padding: 5px;
	margin-bottom: 20px;
}

h4.rss {
	background: url(/media/images/icons/24x24/rss.png) no-repeat 0 0;
	padding-left: 28px;
	padding-top: 4px;
	height: 25px;
}

/**** Auth ****/
#authform {
	color: #8a1f11;
	border: 20px solid #F0F0F0;
	width: 500px;
	margin: 20px auto;
}

#authform h2 {
	margin: 25px;
}

#authform h2 small {
	font-size: 0.7em;
	font-weight: normal;
}

#authform-body {
	margin-left: 40px;
}

#authform label {
	color: #868686;
	font-size: 1.2em;
	font-weight: normal;
}

#authform #email,
#authform #password,
#authform #nickname {
	font-family: helvetica,arial,freesans,sans-serif;
	border: 1px solid #888888;
	padding: 8px;
	font-size: 120%;
	width: 350px;
}

#authform .error {
	color: #EA340A;
	font-size: 1.1em;
	line-height: 24px;
	background: none;
	border: none;
	padding: 0;
}

#authform .notice {
	margin-left: 40px;
	margin-bottom: 30px;
	font-size: 1.2em;
	background: none;
	border: none;
	padding: 0;
}

/*
#auth-form h2 {font-size: 2em;}
#auth-form-body {margin-left: 40px;}

#auth-form-body label,
#auth-form #notice {
	color: #006FB7;
	font-size: 1.2em;
	font-weight: normal;
}
#auth-form #notice {
	margin-left: 40px;
	margin-bottom: 100px;
}
*/
ul.error {
	margin: 10px 5px 0 0;
	padding: 3px;
	width: 300px;
}

ul.error li {
	margin-left: 14px;
}

/**** Search ****/
#search h2 span.total {
	font-size: 12px;
	font-weight: normal;
}

/**** USER ****/
ul.list_users {
	list-style-type: none;
	margin-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}

ul.list_users li.user_item {
	height: 100px;
	width: 80px;
	float: left;
	text-align: center;
}

ul.list_users li.user_item div {

	margin-bottom: 1px;
}

ul.list_users li.user_item a:hover {
	background: #2E558B;
	color: #FFFFFF;
	text-decoration: none;
}

/****  OTHER  ****/
#tips {
	margin-bottom: 30px;
}

.button {
	background: #F3F3F3 url(/media/images/button_small.png) repeat-x center top;
	border: 1px solid #CCCCCC;
	color: #000000;
	padding: 3px 8px;
	#padding-top: 5px; /* hacks for ie7 */
	_padding-top: 5px; /* hacks for ie6 */
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover{
	border: 1px solid #888888;
	text-decoration: none;
}

.button_submit {
	background: #589921 url(/media/images/button_small.png) repeat-x center top;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	padding: 3px 8px;
	#padding-top: 5px; /* hacks for ie7 */
	_padding-top: 5px; /* hacks for ie6 */
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.button_submit:hover {
	background: #699948;
	text-decoration: none;
}

.button_auth {
	background: #396AAA url(/media/images/button_small.png) repeat-x center top;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	padding: 3px 8px;
	#padding-top: 5px; /* hacks for ie7 */
	_padding-top: 5px; /* hacks for ie6 */
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.button_auth:hover {
	background: #5D7EAF;
	text-decoration: none;
}

.line {border-top: 1px solid #CCCCCC}
.txt_right {text-align: right;}
.txt_center {text-align: center;}

.left {float:left;}
.right {float: right;}
.spam {display: none;}
.hidden {display: none;}

.tips {
	color: #868686;
	font-weight: normal;
}

/***** Pagination ****/
.pagination {
	padding: 5px;
}

.pagination .first, .pagination .previous,
.pagination .page, .pagination .current,
.pagination .next, .pagination .last {
	padding: 2px 5px;
	margin: 0 1px;
}

.pagination a {
	color: #006699;
	border: 1px solid #FFFFFF;
}

.pagination a:hover {
	background: #F0F0F0;
	border: 1px solid #DEDEDE;
	color: #006699;
	text-decoration: none;
}

.pagination .current {
	background: #F7F7F7;
	border: 1px solid #F7F7F7;
}

#broadcast {
	background: #FDF1CE;
	color: #555555;
	border: 1px solid #F4E1A8;
	padding: 8px;
	line-height: 20px;
	margin-bottom: 10px;
}

#errors {
	margin: 0 8px;
}

#errors h2 {
	font-size: 1.8em;
	margin-bottom: 0.75em;
}

#errors h2 span {
	color: #777777;
}

#errors h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

#errors h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

#errors ul {
	color: #666666;
	margin-left: 3px;
}