<h3>{{'Change Password'|translate}}</h3>
<dl>
	<dt><label>{{'Current Password'|translate}}</label></dt>
	<dd>
		<input class="field" type="password" name="current_password"/>
		<br /><span class="error">{{errors.current_password}}</span>
	</dd>
</dl>
<dl>
	<dt><label>{{'New Password'|translate}}</label></dt>
	<dd>
		<input class="field" type="password" name="password" />
		<br /><span class="error">{{errors.password}}</span>
	</dd>
</dl>
<dl>
	<dt><label>{{'Password Confirm'|translate}}</label></dt>
	<dd>
		<input class="field" type="password" name="password_confirm" />
		<br /><span class="error">{{errors.password_confirm}}</span>
	</dd>
</dl>

<div class="submit txt_right">
	<input class="button" type="submit" value="{{'Reset'|translate}}" />
</div>