[submodule "kohana/system"]
	path = kohana/system
	url = http://github.com/kohana/core.git
[submodule "kohana/modules/database"]
	path = kohana/modules/database
	url = http://github.com/kohana/database.git
[submodule "kohana/modules/orm"]
	path = kohana/modules/orm
	url = http://github.com/kohana/orm.git
[submodule "kohana/modules/pagination"]
	path = kohana/modules/pagination
	url = http://github.com/kohana/pagination.git
[submodule "kohana/modules/dbmanager"]
	path = kohana/modules/dbmanager
	url = http://github.com/icyleaf/dbmanager.git
