[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
