<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="utf-8" lang="utf-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{website}}</title>
</head>
<body>
{{'Dear %s'|translate|format(username)}}:
<br /><br />
{{content|raw}}
<br /><br />
{{'Thanks for support to %s.'|translate|format(website)}}
<br /><br />
/**<br />
 * {{website}}<br />
 * <br />
 * @url {% html.anchor link, link%}<br />
 * @version always beta<br />
 * <br />
 * {{description}}<br />
 */
<br /><br />
({{footnote}})
</body>
</html>