<div id="authform">
	<h2>{{title}}</h2>
	<form method="post">
	<div id="authform-body">
		<p>
			<label>{{'Email'}}:</label><br />
			<input readonly id="email" class="readonly" name="email" type="text" value="{{user.email}}" readonly/>
		</p>
		<p>
			<label>{{'nickname'|translate}}:</label><br />
			<input readonly id="nickname" class="readonly" name="nickname" type="text" value="{{user.nickname}}" readonly/>
		</p>
		<p>
			<label>{{'password'|translate}}:</label><br />
			<input id="password" name="password" type="password" tabindex="10" />
			<br /><span class="error">{{errors.password}}</span>
		</p>
		<p>
			<label>{{'password_confirm'|translate}}:</label><br />
			<input id="password" name="password_confirm" type="password" tabindex="20" />
			<br /><span class="error">{{errors.password_confirm}}</span>
		</p>
		<p class="submit">
			<input class="button" id="submit" type="submit" tabindex="100" value="{{'Reset Password'|translate}}" />
		</p>
		<div class="clear"></div>
	</div>
	</form>
</div>