<div id="authform">
	<h2>
		{{title}}
		<small>{% html.anchor 'register', '(%s)'|format('Sign up'|translate) %}</small>
	</h2>
	<form method="post">
	<div id="authform-body">
		<p>
			<label>{{'Login or Email'|translate}}:</label><br />
			<input id="email" name="username" type="text" tabindex="10" value="{{username}}" />
			<br /><span class="error">{{errors.username|translate}}</span>
		</p>
		<p>
			<label>{{'Password'|translate}}:</label>
			{% html.anchor 'lostpassword', '(%s)'|format('Lost Password'|translate) %}<br />
			<input id="password" name="password" type="password" tabindex="20" />
			<br /><span class="error">{{errors.password|translate}}</span>
		</p>
		<p>
			<input id="remember" type="checkbox" tabindex="90" value="true" name="remember"/>
			<span class="tips">{{'Remember me'|translate}}</span>
		</p>
		<p class="submit">
			<input type="hidden" name="redir" value="{{redir}}" />
			<input class="button" id="submit" type="submit" tabindex="100" value="{{'Log in'|translate}}" />
		</p>
		<div class="clear"></div>
	</div>
	</form>
</div>