<div id="authform">
	<h2>
		{{title}}
		<small>({% html.anchor 'login', 'Log in'|translate %})</small>
	</h2>
	<form method="post">
	<div id="authform-body">
		<p>
			<label>{{'Email'}}:</label><br />
			<input id="email" name="email" type="text" tabindex="10" value="{{email}}" />
			<br /><span class="error">{{errors.email}}</span>
		</p>

		<p class="submit">
			<input class="button" id="submit" type="submit" tabindex="100" value="{{'Reset Password'|translate}}" />
		</p>
		<div class="clear"></div>
	</div>
	</form>
</div>