* { margin: 0pt; padding: 0pt; }
table, body { font-size: 12px; font-family: Verdana,sans-serif; color: rgb(51, 51, 51); }
a { color: rgb(65, 151, 227); text-decoration: none; }
a:hover { border-bottom: 1px solid rgb(65, 151, 227); }
p a:visited, li a:visited, table a:visited { color: rgb(136, 0, 136); }
a span { display: none; }
img.delimiter { margin: 0pt 5px; vertical-align: bottom; }
p { line-height: 150%; }
hr { border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; border-width: 1px medium medium; background: transparent none repeat scroll 0% 0%; height: 1px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.reset { clear: both; display: block; height: 1px; font-size: 1px; }
.hidden { display: none; }
body { background: rgb(255, 255, 255); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-align: center; }
.small { font-size: 12px; }
#mainHolder { margin: 0pt auto; overflow: hidden; width: 950px; text-align: left; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
body#no-sidebar-page #mainHolder, body#no-sidebar-page #mainHolderGradient { background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#mainContentHolder { width: 682px; float: left; }
body#no-sidebar-page #mainContentHolder { width: 100%; }
#contentsHolder { margin-top: 30px; margin-left: 96px; }
#contentsHolder h1 { font-size: 24px; font-family: Arial; letter-spacing: -1px; color: rgb(119, 119, 119); }
div.post { padding: 17px 0pt 17px 100px; overflow: hidden; margin-left: -96px; margin-right: 40px; margin-bottom: 10px; }
div.post .title { font-size: 24px; font-family: Arial; letter-spacing: -1px; color: rgb(136, 136, 136); float: right; width: 536px; position: relative; left: -6px; font-weight: normal; }
div.post ul li, div.post ol li { line-height: 160%; }
div.post p, div.post ul, div.post pre, div.post ol { margin-top: 10px; margin-bottom: 16px; line-height: 160%; }
div.post h2 { color: rgb(136, 136, 136); margin-bottom: 10px; font-size: 24px; font-family: Arial; font-weight: normal; letter-spacing: -1px; }
.post ul, .post ol { margin: 10px 0pt 10px 40px; }
.post ul li, .post ol li { margin-bottom: 10px; line-height: 140%; }
.post ul li { list-style-type: square; }
ul#finished, ul#pending { margin-left: 0px; }
ul#finished li, ul#pending li { list-style-type: none; padding-left: 32px; min-height: 24px; padding-top: 4px; }
ul#finished li { background: transparent url('/media/images/icons/24x24/accept.png') no-repeat scroll 0pt 2px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
ul#pending li { background: transparent url('/media/images/icons/24x24/clock.png') no-repeat scroll 0pt 2px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
div.post { width: 45%; float: left; margin-right: 0pt; }
i.low { color: rgb(136, 136, 136); font-size: 12px; font-style: normal; background-color: rgb(248, 248, 224); }
.post i { text-transform: uppercase; font-size: 12px; padding: 3px}
p.small { font-size: 12px; color: rgb(102, 102, 102); }
div.post h2.title { width: auto; }
.release { background-color: rgb(51, 51, 51); color: rgb(255, 255, 192); }
small.date{background: #868686; color: #FFFFFF}