<div id="community_about" class="widget">
	<h3>关于 Kohana 中文</h3>
	<div class="content">{{about}}</div>
	<div class="stats">
	<table>
		<tbody>
			<tr>
				<th>{{'Stats'|translate}}</th>
				<th class="txt_right">{{'共计'|translate}}</th>
			</tr>
			<tr>
				<td>{{'Topic Total'|translate}}</td>
				<td class="txt_right">{{stats.topics}}</td>
			</tr>
			<tr>
				<td>{{'User Total'|translate}}</td>
				<td class="txt_right">{{stats.users}}</td>
			</tr>
			<tr>
				<td>{{'Group Total'|translate}}</td>
				<td class="txt_right">{{stats.groups}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>