<div class="widget">
	<div class="block group">
		{% html.anchor group_link, topic.group.name %}
	</div>
</div>
<div class="widget">
	<h3>{{'Stats'|translate}}</h3>
	<div class="stats">
	<table>
		<tbody>
			<tr>
				<th>{{'Posted on'|translate}}</th>
				<th class="txt_right">{{topic.created|date('Y-d-m H:i')}}</th>
			</tr>
			<tr>
				<td>{{'View Total'|translate}}</td>
				<td class="txt_right">{{topic.hits}}</td>
			</tr>
			<tr>
				<td>{{'Reply Total'|translate}}</td>
				<td class="txt_right">{{topic.count}}</td>
			</tr>
			<tr>
				<td>{{'Collection Total'|translate}}</td>
				<td class="txt_right">{{topic.collections}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

{{recent_topic_list|raw}}

<div class="widget">
	<div class="block collection">
		{% html.anchor collection_link, 'view who collected this!'|translate %}
	</div>
</div>